[Unit]
Description=Logitech G13 daemon

[Service]
Type=simple
ExecStart=/usr/local/bin/g13d --config="/etc/g13/default.bind" --profiles_dir="~/.g13d/profiles"

[Install]
WantedBy=default.target
